<extend name="Base/common"/>
<block name="head">
	  <style>
	    .table-base-style{
	    	  margin-top:10px;
	    }
	    .table-base-tr-title{
	    	 background:#d5fff6;
	    	 color:#666;
	    }
	    .table-base-tr-title th{
	    	text-align:center;
	    }
	    .th-center th,.td-center td{
	    	  text-align:center;
	    }
	    .img_b{
	    	 border:1px solid #ddd;
	    }
	    .total_price{
	    	 color:red;
	    }
	  </style>
	  <script>
	      var flage_type=false;
		  var Thinkphp={ 
		  	      url:'{$url}'
		  }
	  </script>
</block>
<block name="main">
	<div  class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <ol class="breadcrumb">
                              <li>订单管理</li>
                              <li class="active">订单信息</li>
                       </ol>
                    </div>
                    <div>
                          <a href="{$url}" class="btn btn-primary  pull-right">
                              <span class="glyphicon glyphicon-backward"></span> 返回
                          </a>
                    </div>
                    <div class="ibox-content" style="padding:0;">	
                    	 <table class="table table-bordered table-base-style">
                    	 	<tr class="table-base-tr-title">
                    	 	    <th  colspan="4">基本信息</th>
                    	    </tr>
                    	    <tr>
						        <td style="width:20%;">订单号：</td>
						        <td style="width:30%;">{$order.order_sn}</td>
						        <td style="width:20%;">购买用户：</td>
						        <td style="width:30%;">
						            {$order.extend.username}
						        </td>
                            </tr>
                            <tr>
						        <td style="width:20%;">订单状态：</td>
						        <td style="width:30%;">{$order.order_status},{$order.pay_status},{$order.ship_status}</td>
						        <td style="width:20%;">下单时间：</td>
						        <td style="width:30%;">
						            {$order.created}
						        </td>
                            </tr>
                            <tr>
						        <td style="width:20%;">物流方式：</td>
						        <td style="width:30%;">{$order.ship_name}</td>
						        <td style="width:20%;">支付时间：</td>
						        <td style="width:30%;">
						            <if condition="order.pay_time neq  0">
						            	{$order.pay_time}
						            	   <else/>
						            	未支付
						            </if>
						        </td>
                            </tr>
                            <tr>
						        <td style="width:20%;">付款方式：</td>
						        <td style="width:30%;">{$order.pay_name}</td>
						        <td style="width:20%;">发货时间：</td>
						        <td style="width:30%;">
						            <if condition="order.ship_time neq  0">
						            	{$order.pay_time}
						            	   <else/>
						            	 未发货
						            </if>
						        </td>
                            </tr>
                    	 </table>
                    	 <table class="table table-bordered table-base-style">
                    	 	<tr class="table-base-tr-title">
                    	 	    <th  colspan="4">收货人信息</th>
                    	    </tr>
                    	    <tr>
						        <td style="width:20%;">收货人:</td>
						        <td style="width:30%;">{$order.consignee}</td>
						        <td style="width:20%;">手机：</td>
						        <td style="width:30%;">
						            {$order.mobile}
						        </td>
                            </tr>
                            <tr>
						        <td style="width:20%;">地区:</td>
						        <td style="width:30%;">{$order.province}-{$order.city}-{$order.district}</td>
						        <td style="width:20%;">详细地址：</td>
						        <td style="width:30%;">
						            {$order.address}
						        </td>
                            </tr>
                            <tr>
						        <td style="width:20%;">电话:</td>
						        <td style="width:30%;">{$order.tel}</td>
						        <td style="width:20%;">邮编：</td>
						        <td style="width:30%;">
						            {$order.zipcode}
						        </td>
                            </tr>
                    	 </table>
                    	 <table class="table table-bordered table-base-style">
                    	 	<tr class="table-base-tr-title">
                    	 	    <th  colspan="8">商品列表</th>
                    	    </tr>
                    	    <tr class='th-center'>
						        <th width="12%">图片</th>
						        <th width="30%">名称</th>
						        <th>货号</th>
						        <th>规格</th>
						        <th>价格</th>
						        <th>购买数量</th>
						        <th>剩余库存</th>
						        <th>小计</th>
						    </tr>
                            <volist name="goodInfo" id="goodInfo1">
                              <tr class='td-center'>
						        <td><img src="__ROOT__/{$goodInfo1.thunb_pic.thumb}" width="40" height="40"  class="img_b"></td>
						        <td>{$goodInfo1.goods_name}</td>
						        <td>{$goodInfo1.goods_sn}</td>
						        <td>{$goodInfo1.spec_value}</td>
						        <td>{$goodInfo1.price}</td>
						        <td>{$goodInfo1.nums}</td>
						        <td>{$goodInfo1.sku}</td>
						        <td>{$goodInfo1.totol_price}</td>
						      </tr>
                            </volist>
                    	 </table>
                    	 <table class="table table-bordered table-base-style">
                    	 	<tr class="table-base-tr-title">
                    	 	    <th  colspan="8">费用信息</th>
                    	    </tr>
                    	    <tr class='th-center'>
						        <th colspan="8" style="text-align:right;padding:5px 5px 5px 0;">
						        	 商品总价：￥<span class="total_price">{$order.total_price}</span> 元 + 物流费： ￥0 元
						        </th>  
						    </tr>
						    <tr class='th-center'>
						        <th colspan="8" style="text-align:right;padding:5px 5px 5px 0;">
						        	 合计：￥<span class="total_price">{$order.total_price}</span>元
						        </th>   
						    </tr>
                    	 </table>
                    	<form action="{:U('Order/addOrderLog')}" method="post" id="addOrderLog">
                    	 <table class="table table-bordered table-base-style" style="margin-top:10px;">
                    	 	<tr class="table-base-tr-title">
                    	 	    <th  colspan="2">操作信息</th>
                    	    </tr>
                    	    <tr>
                    	 	    <td style="width:35%;">操作备注(*)：</td>
                    	 	    <td style="width:65%;">
                    	 	    	<div class="form-group" style="padding:0;margin:0;">
                    	 	     	    <textarea class="form-control" autocomplete="off" name="action_note" rows="3" style="resize:none;"></textarea>
                    	 	        </div>
                    	 	    </td>
                    	    </tr>
                    	    <tr>
                    	 	    <td style="width:35%;">可执行操作：</td>
                    	 	    <td style="width:65%;">
                    	 	    	  <input type="hidden" name="order_id" value="{$order.order_id}" />
                    	 	    	  <if condition="$order.order_status neq '已取消' ">
	                    	 	    	  <if condition="$order.order_status eq '未确认' ">
							                   <input type="hidden" name="orderStatus" name="way" value="confirmOrder"/>
							                   <input type="submit"  class="btn btn-small btn-info" onclick="return check_order_opt();"   value="确认" />
							                 <elseif condition="$order.order_status eq '已确认' "/>
							                   <input type="hidden" name="way" value="canncelOrder" />
							                   <input type="submit"  class="btn btn-small btn-info" onclick="return check_order_opt();"  value="取消" />
							              </if>
							              <if condition="$order.order_status eq '已确认' &&  $order.pay_status eq '未付款' ">
							              	  <input type="hidden" name="way" value="payPrice" />
	                                          <input type="submit" value="付款" onclick="return check_order_opt();"  class="btn btn-small btn-info" />
							              </if>
								          <if condition="$order.order_status eq '已确认' &&  $order.ship_status eq '未发货' && $order.pay_status eq '已付款' ">
								          	        <input type="hidden" name="way" value="sendGoods" />
		                                            <input type="submit" onclick="return check_order_opt();"  class="btn btn-small btn-info" value="配货"  />
		                                         <elseif condition="$order.order_status eq '已确认' &&  $order.ship_status eq '配货中' && $order.pay_status eq '已付款'" />
		                                            <input type="hidden" name="way" value="readySend" />
		                                            <input type="submit" onclick="return check_order_opt();"  class="btn btn-small btn-info"  value="去发货" />
		                                         <elseif condition="$order.order_status eq '已确认' &&  $order.ship_status eq '已发货' && $order.pay_status eq '已付款'"/>
		                                             <input type="hidden" name="way" value="hadRecive" />
		                                            <input type="submit" onclick="return check_order_opt();"  value="签收"  class="btn btn-small btn-info" />
								           </if>
							            <else />
							               <span class="label label-important">无效订单</span>
							          </if>
                    	 	    </td>
                    	    </tr>
                    	 </table>
                    	</form>
                    	<table class="table table-bordered table-base-style">
                    	 	<tr class="table-base-tr-title">
                    	 	    <th  colspan="8">操作日志</th>
                    	    </tr>
                    	    <tr class='th-center'>
						        <th>操作时间</th>
						        <th>管理员</th>
						        <th>订单状态</th>
						        <th>物流状态</th>
						        <th>支付状态</th>
						        <th>操作注释</th>
						    </tr>
                            <volist name="orderlog" id="orderlog">
                              <tr class='td-center'>
						        <td>{$orderlog.created}</td>
						        <td>{$orderlog.username}</td>
						        <td>{$orderlog.order_status}</td>
						        <td>{$orderlog.ship_status}</td>
						        <td>{$orderlog.pay_status}</td>
						        <td>{$orderlog.opt_note}</td>
						      </tr>
                            </volist>
                    	 </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="foot">
	 <script src="__JS__/orderinfo.js"></script>
</block>