<extend name="Base/common"/>
<block name="head">
	<link href="__CSS__/uploadify.css" rel="stylesheet">
	<link rel="stylesheet" href="__UPLOADIFY__/uploadify.css">
	<style type="text/css">
		 .show_status{
		 	  cursor:pointer;
		 }
	</style>
	<script>
	    var Think={
	    	  'uploadify':'__UPLOADIFY__',
	    	  'IMAGEURL' :'{:U("File/image")}',
	    	  'checkBrand':'{:U("Brand/check_brand")}',
	    	  'editBrand':'{:U("Brand/editBrand")}',
	    	  'delBrand':'{:U("Brand/delBrand")}'
	    }
	</script>
</block>
<block name="main">
    <div  class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <ol class="breadcrumb">
                              <li>商品管理</li>
                              <li class="active">品牌管理</li>
                       </ol>
                    </div>
                    <div id="addGoods">
                          <button type="button" class="btn btn-primary btn-xs pull-right" id="brandType">
                              <span class="glyphicon glyphicon-plus"></span>添加品牌
                          </button>
                    </div>
                    <div class="ibox-content">
                    	 <table class="table table-condensed table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>品牌名称</th>
                                    <th>L0GO</th>
                                    <th style="width:400px;">描述</th>
                                    <th style="width:80px;">排序</th>
                                    <th style="width:120px;">状态</th>
                                    <th style="width:190px;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                               <volist name="brand" id="brand">
	                                <tr data-brand-id="{$brand.brand_id}">
	                                    <td>{$i}</td>
	                                    <td>{$brand.brand_name}</td>
	                                    <td>
	                                       <img src="__ROOT__{$brand.brand_logo}" />	
                                        </td>
                                        <td>
                                        	{$brand.desc|mb_substr=0,120}
                                        </td>
                                        <td>
                                        	  <input type="text" class="form-control" autocomplete="off" value="{$brand.sort}">
                                        </td>
                                        <td>
                                        	<if condition="$brand.status eq 1">
                                        		   <span class="label label-primary show_status" data-status="{$brand.status}">显示</span>
                                        		 <else/>
                                        		   <span class="label label-primary show_status" data-status="{$brand.status}">隐藏</span>
                                            </if>
                                        </td>
                                        <td>
                                        	<button type="button" class="btn btn-primary btn-xs edit_brand_btn">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs del_brand_btn">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                                            </button>
                                        </td>
	                                </tr> 
                                </volist>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="brandmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                  <form action='{:U("Brand/addBrand")}' method="POST" id="brandForm" class="form-horizontal" enctype="multipart/form-data">
                    <div class="modal-content">
        			      <div class="modal-header">
        			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        			        	<span aria-hidden="true">&times;</span>
        			        </button>
        			        <h4 class="modal-title" id="myModalLabel">添加品牌</h4>
        			      </div>
        			      <div class="modal-body">        
                                <div class="form-group">
                                    <label for="brand_name" class="col-sm-4 control-label">品牌名称：</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="brand_name"  name="brand_name"  
                                        autocomplete="off" placeholder="品牌名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                     <label for="brand_name_en" class="col-sm-4 control-label">品牌名称（英文）：</label>
                                     <div class="col-sm-8">
                                         <input type="text" class="form-control" id="brand_name_en"  name="brand_name_en"  
                                         autocomplete="off" placeholder="品牌名称(英文)">
                                     </div>
                                </div>
                                <div class="form-group">
                                	 <label for="brand_name_en" class="col-sm-4 control-label">品牌LOGO:</label>
                                	 <div class="col-sm-8">
                                	       <input type="file" name="brand_logo" id="brand_logo"/>
                                	       <input type="text" name="brand_logo_url" readonly="readonly">
                                	 </div>
                                </div>
                                <div class="form-group">
                                	 <label for="website" class="col-sm-4 control-label">品牌官网：</label>
                                	 <div class="col-sm-8">
                                	     <input type="text" class="form-control" id="website"  name="website"  autocomplete="off" placeholder="品牌官网">
                                     </div>
                                </div>
                                <div class="form-group">
                                	<label style="padding-top:0" class="col-sm-4 control-label">状态</label>
                                	<div class="col-sm-8">
										<label style="margin-right:20px;">
												     <input type="radio" name="brand_status"  value="1" checked>开启
										</label>
										<label>
												     <input type="radio" name="brand_status"  value="0">关闭
										</label>
									</div>
                                </div>
                                <div class="form-group">
                                	 <label for="desc" class="col-sm-4 control-label">品牌描述</label>
                                	 <div class="col-sm-8">
                                	    <textarea class="form-control" autocomplete="off" rows="3" style="resize:none;" name="desc" id="desc"></textarea>
                                     </div>
                                </div>
                                <div id="errors" style="color:#c90000;"></div>
                                
        			      </div>
        			      <div class="modal-footer">
        			        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        			        <button type="submit" class="btn btn-primary" id="add_good_type">确定</button>
        			      </div>
                  </div>
                </form>
            </div>
       </div>
</block>
<block name="foot">
	<script src="__JS__/jquery.uploadify.min.js"></script>
	<script src="__JS__/brand.js"></script>
</block> 