<extend name="Base/common"/>
<block name="main">
    <div  class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <ol class="breadcrumb">
                              <li>用户管理</li>
                              <li class="active">管理员日志</li>
                       </ol>
                    </div>
                    <div class="ibox-content">
                    	 <table class="table table-condensed table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>管理员</th>
                                    <th>操作时间</th>
                                    <th>登陆IP</th>
                                    <th>操作的内容</th>
                                </tr>
                            </thead>
                            <tbody>
                            	  <tr>
                            	  	 <td>1</td>
                                     <td>admin</td>
                                     <td>2016-05-31 16:24:25</td>
                                     <td>127.0.0.1</td>
                                     <td>编辑品牌管理: 仓品</td>
                            	  </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>