<extend name="Base/common"/>
<block name="header">
	<title>订单结算页</title>
	<meta name="keywords" content="{$goods_info.keywords}">
	<meta name="description" content="{$goods_info.description}">
	<link href="__CSS__/base.css" rel="stylesheet">
	<link href="__CSS__/public.css" rel="stylesheet">
	<link href="__CSS__/orderInfo.css" rel="stylesheet">
	<link href="__CSS__/dialog.css" rel="stylesheet">
	<script>
	  var Thinkphp={
	  	     'getCity':'{:U("Cart/getCity")}',
	  	     'address_id':'{$Think.session.user_auth.address_id}',
	  	     'add_address':'{:U("Cart/add_address")}',
	  	     'addOrder':'{:U("Cart/addOrder")}'	     
	  }
	</script>
</block>
<block name="main">
	  <div class="h hd-wm">
            <div id="header">
                <div id="logo">
                    <a href="__ROOT__">
                        <img src="__IMG__/hd_logo.png" alt="">
                    </a>
                </div>
                <div id="cart-step">
                    <ul>
                        <li class="step-1"><b></b>1.我的购物车</li>
                        <li class="step-2  stepping"><b></b>2.填写核对订单信息</li>
                        <li class="step-3">3.成功提交订单</li>
                    </ul>
                </div>
            </div>
            <div id="orderInfoMain">
                <div id="info-header">
                    <h2>填写核对订单信息</h2>
                </div>
                <div id="order-info">
                    <!--收货人信息-->
                    <div class="item">
                        <div class="item-nav">
                        	<h2>收货人信息</h2>
                        	 <a href="javascript:void(0)" class="add_address">新增收货地址</a>
                        </div>
                        <!-- 用户的地址列表 -->
                        <ul id="consignee-list">
                        	<volist name="address_data" id="address_data_1">
                        	  <li>
                        	  	 <div class="consignee-item item-selected"  consigneeid="{$address_data_1.address_id}">
										<span>{$address_data_1.consignee} {$address_data_1.province}</span>
								 </div>
								 <div class="hover_bg">
									 <div class="addr-detail">
										<span class="addr-name"  title="{$address_data_1.consignee}">{$address_data_1.consignee}</span>
										<span class="addr-info"  title="北京 海淀区 四环到五环之间 sadas">
											{$address_data_1.province} {$address_data_1.city} {$address_data_1.district} {$address_data_1.address}
										</span>
										<span class="addr-tel">{$address_data_1.mobile}</span>
										<eq name="address_data_1.address_id" value="$_SESSION['user_auth']['id']">
										  <span class="addr-default">默认地址</span>
										</eq>
									</div> 
									<div class="op-btns" consigneeid="{$address_data_1.address_id}">
										  <neq name="address_data_1.address_id" value="$_SESSION['user_auth']['id']">
											 <a class="ftx-05 setdefault-consignee" fid="{$address_data_1.address_id}" href="javascript:void(0);">设为默认地址</a>
										  </neq>	
											<a class="ftx-05 edit-consignee" fid="{$address_data_1.address_id}" href="javascript:void(0);">编辑</a>
											<a class="ftx-05 del-consignee" fid="{$address_data_1.address_id}" href="javascript:void(0);">删除</a>
	                                </div>
                        	      </div>
                        	  </li>
                        	 </volist>
                        </ul>
                        <!-- 默认的收货地址 -->
                    </div>
                    <!--/收货人信息-->
                        <!--支付及配送方式-->
                        <div class="item">
                            <div class="item-nav">
                            	<h2>支付方式</h2>
                            </div>
                            <ul class="pay_ul">
                            	  <li class="pay_hover" pay-id="1">支付宝</li>
                            </ul>
                            
                        </div>
                        <div class="item">
                            <div class="item-nav">
                            	<h2>配送方式</h2>
                            </div>
                            <ul class="pay_ul">
                            	  <li class="pay_hover" ship-id="1">韵达快递</li>
                            </ul>
                        </div>
                        <!--/支付及配送方式-->
                        <!--商品清单-->
                        <div class="item">
                            <div class="item-nav"><h2>商品清单</h2></div>
                            <div class="item-info">
                                <table width="90%">
                                    <tr>
                                        <th>商品编号</th>
                                        <th>商品名称</th>
                                        <th>价格</th>
                                        <th>数量</th>
                                    </tr>
                                    <volist name="cartdata" id="cartdata">
	                                    <tr>
	                                          <td>{$cartdata.goods_sn}</td>
	                                          <td>{$cartdata.goods_name}</td>
	                                          <td>{$cartdata.price}</td>
	                                          <td>{$cartdata.nums}</td>
	                                    </tr>
                                     </volist>
                                </table>
                            </div>
                        </div>
                        <!--/商品清单-->
                        <div id="settle-accounts">
                            <p class="price-list">
                            	商品金额：总{$orderTotal}元+ 运费：0.00元
                            </p>
                            <p>应付总额：￥{$orderTotal}元</p>
                            <p>
                            	<input type="hidden" name="pay_id" value="1" />
                                <input type="hidden" name="shipping_id" value="1" />
                                <input type="hidden" name="total_price" value="{$orderTotal}" />
                                <input class="sub-order" data-checked="true" type="image" src="__IMG__/sub_ord.jpg" alt="" />
                            </p>
                        </div>
                </div>
            </div>
        </div>
<div id="gray"></div>
<div class="popup" id="popup">
	<div class="top_nav" id='top_nav'>
			<span class="address_l">新增收货人信息</span>
			<if condition="$_SESSION['user_auth']['address_id']  neq 0">
			      <span class="guanbi"></span>
			</if>
	</div>
	<div class="min">
		<div class="tc_login">
		  <form>
		   <div id="consignee-form" class="form" name="consignee-form">
		   	   <div  class="item">
					<span class="label">
					     <span style="color:red">*</span> 收货人：
					</span>
					<div class="fl">
					     <input id="consignee" class="itxt" type="text"  maxlength="20" autocomplete="off" name="consignee">
					</div>
			   </div>
			   <div  class="item">
					<span class="label">
					     <span style="color:red">*</span>  所在地区：
					</span>
					<div class="fl">
					     <select name="province" class="form_select" autocomplete="off">
					     	  <option value="">请选择省</option>
					     	  <volist name="topCityData" id="topCityData">
					     	  	  <option value="{$topCityData.id}">{$topCityData.area_name}</option>
					     	  </volist>
					     </select>
					</div>
			   </div>
			   <div  class="item">
					<span class="label">
					     <span style="color:red">*</span> 详细地址：
					</span>
					<div class="fl">
					     <input  class="itxt itxt_1" type="text" name="address" autocomplete="off">
					</div>
			   </div>
			   <div  class="item">
					<span class="label">
					     <span style="color:red">*</span> 手机号码：
					</span>
					<div class="fl">
					     <input  class="itxt" type="text" name="mobile" autocomplete="off">
					</div>
			   </div>
			   <div  class="item">
					<span class="label">
					       固定电话：
					</span>
					<div class="fl">
					     <input  class="itxt" type="text" autocomplete="off" name="tele">
					</div>
			   </div>
			   <div  class="item">
					<span class="label">
					       邮箱：
					</span>
					<div class="fl">
					     <input  class="itxt" type="text" autocomplete="off" name="email">
					     <div class="ftx-03">用来接收订单提醒邮件，便于您及时了解订单状态</div>
					</div>
			   </div>
			   <div  class="item">
					<span class="label">
					       地区别名：
					</span>
					<div class="fl">
					     <input  class="itxt" type="text" autocomplete="off" name="address_name">
					</div>
			   </div>
			   <div  class="item">
					<span class="label">
					</span>
					<div class="fl">
							<button class="btn-9" date-check="" id="saveConsigneeTitleDiv">保存收货人信息</button>
					</div>
			   </div>
		   </div>
		  </form>
		</div>
	</div>
</div>
</block>
<block name="foot">
	<script src="__JS__/jquery-1.7.2.min.js"></script> 
	<script src="__JS__/common.js"></script>
	<script src="__JS__/public.js"></script>
	<script src="__JS__/order.js"></script>
</block>