<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.5"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script src="__JS__/plugins/jeditable/jquery.jeditable.js"></script>
<script src="__JS__/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__JS__/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="__JS__/bootstrapValidator.min.js"></script>
<script src="__JS__/common.js"></script>
<block name="foot"></block>