<div id="menu">
    <h2 class="menu-title">我的商城</h2>
    <dl>
        <dt>订单中心</dt>
        <dd>
            <ul>
                <li><a href="{:U('Auth/orders')}">我的订单</a></li>
                <li><a href="__CONTROL__/account">浏览历史</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt>账户中心</dt>
        <dd>
            <ul>
                <li><a href="{:U('Auth/account')}">账户信息</a></li>
                <li><a href="__CONTROL__/address">收货地址</a></li>
            </ul>
        </dd>
    </dl>
</div>